# staff-service - Copy file này thành .env và điền giá trị thật
BASE_URL=http://localhost:8008
SERVICE_NAME=staff-service
API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTc3NjM5NjcxOSwianRpIjoiNzRjMDcwNGQtM2RmOC00M2UyLWFhYmUtNGFjMjU5NDExYjE4IiwidHlwZSI6ImFjY2VzcyIsInN1YiI6IjEiLCJuYmYiOjE3NzYzOTY3MTksImNzcmYiOiIyYzJjMTU4ZS1kYmNlLTQxYTYtYjE1ZS1kYTY1MTgyM2NiNzkiLCJleHAiOjE3NzcwMDE1MTksInJvbGUiOiJhZG1pbiJ9.zLr4R0WTPeR2SDlmxrdfBmFhXgn_zaR1WySuw3MHXoc
ADMIN_EMAIL=admin1
ADMIN_PASSWORD=12345
HEADLESS=true
